.main {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 80%;
  background-color: #fafafa;
  border-radius: 14px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #1d1c1c;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
